h2{
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content textarea {
    height: 100px;
    border-radius: 10px;
}

.content-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-form button {
    height: 30px;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    border: none;
    color: white;
}

.content-card {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    height: 80px;
    margin-top: 10px;
    position: relative;
    max-width: 200px;
    border: 1px solid black;
}

.content-card button{
    height: 20px;
    background-color: rgb(231, 224, 224);
    border-radius: 50px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}